@if (repo) {
  <div class="repo-container" [class.modal]="data">
    <div class="repo-owner-image">
      <img
        [src]="repo.owner.avatar_url"
        alt="Owner Avatar"
        class="repo-avatar"
      />
    </div>

    <div class="repo-content">
      <div class="repo-title-container">
        <h2 class="repo-title">{{ repo.name }}</h2>
      </div>
      <p class="repo-description">{{ repo.description }}</p>

      <div class="repo-info">
        <span>Stars: {{ repo.stargazers_count }}</span>
        <span>Issues: {{ repo.open_issues_count }}</span>
        <span
          >Submitted: {{ repo.created_at | daysSince }} days ago by
          {{ repo.owner.login }}</span
        >
      </div>
    </div>
  </div>
} @else {
  <div class="repo-container">
    <p>Loading...</p>
  </div>
}
